/* =========falling animationer======== */
.falling1 {
  animation-name: falling1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling1 {
  0% {
    transform: translate(50vw, -57vw);
  }
  100% {
    transform: translate(50vw, 57vw);
  }
}
.falling2 {
  animation-name: falling2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling2 {
  0% {
    transform: translate(30vw, -57vw);
  }
  100% {
    transform: translate(30vw, 57vw);
  }
}
.falling3 {
  animation-name: falling3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling3 {
  0% {
    transform: translate(20vw, -57vw);
  }
  100% {
    transform: translate(20vw, 57vw);
  }
}
.falling4 {
  animation-name: falling4;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling4 {
  0% {
    transform: translate(0, -57vw);
  }
  100% {
    transform: translate(0, 57vw);
  }
}
.falling5 {
  animation-name: falling5;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling5 {
  0% {
    transform: translate(60vw, -57vw);
  }
  100% {
    transform: translate(60vw, 57vw);
  }
}
.falling6 {
  animation-name: falling6;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling6 {
  0% {
    transform: translate(70vw, -57vw);
  }
  100% {
    transform: translate(70vw, 57vw);
  }
}
.falling7 {
  animation-name: falling7;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling7 {
  0% {
    transform: translate(75vw, -57vw);
  }
  100% {
    transform: translate(75vw, 57vw);
  }
}
.falling8 {
  animation-name: falling8;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling8 {
  0% {
    transform: translate(80vw, -57vw);
  }
  100% {
    transform: translate(80vw, 57vw);
  }
}
.falling9 {
  animation-name: falling9;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling9 {
  0% {
    transform: translate(85vw, -57vw);
  }
  100% {
    transform: translate(85vw, 57vw);
  }
}
.falling10 {
  animation-name: falling10;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling10 {
  0% {
    transform: translate(90vw, -57vw);
  }
  100% {
    transform: translate(90vw, 57vw);
  }
}
.falling11 {
  animation-name: falling11;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling11 {
  0% {
    transform: translate(94vw, -57vw);
  }
  100% {
    transform: translate(94vw, 57vw);
  }
}
.falling12 {
  animation-name: falling12;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling12 {
  0% {
    transform: translate(97vw, -57vw);
  }
  100% {
    transform: translate(97vw, 57vw);
  }
}

/* ========= Animationer når der clickes på element ========= */
.paused {
  animation-play-state: paused;
}
.zoom_out {
  animation-name: zoom_out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes zoom_out {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(359deg);
  }
}
.zoom_inout {
  animation-name: zoom_inout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes zoom_inout {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* ========= Stopwatch animation ========= */
.rotate {
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
