#screen {
  aspect-ratio: 16/9;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
body {
  margin: 0;
  width: 100vw;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.position0 {
  top: 0;
  left: 0;
}
#game {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_background {
  aspect-ratio: 16/9;
  width: 100%;
  position: absolute;
  background-image: url(img/2108.q703.021.F.m004.c7.mining\ miner\ cartoon.jpg);
  background-size: 88%;
}
#game_foreground {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
#foreground_img {
  top: 30%;
  left: 10%;
  width: 20vw;
  position: absolute;
}
#foreground_img img {
  width: 100%;
}
#start {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 999;
}

#start img {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 30%;
}

#start_intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.1vw;
  position: absolute;
  left: 37%;
  top: 15%;
}

#start_btn {
  width: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 65%;
}

#start_btn img {
  position: absolute;
  width: 10%;
  top: 10%;
  left: 38%;
  z-index: 1;
}

#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 999;
}

#game_over img {
  position: absolute;
  width: 45%;
  top: 25%;
  left: 27%;
}

#gameOver_btn {
  width: 100%;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  left: 15%;
  top: 80%;
}

#gameOver_btn img {
  position: absolute;
  width: 15%;
}

#level_complete {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 999;
}

#level_complete img {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
}

#levelComplete_btn {
  width: 100%;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  left: 17%;
  top: 85%;
}

#levelComplete_btn img {
  position: absolute;
  width: 15%;
}

#game_elements {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 4;
  overflow: hidden;
}
#game_elements img {
  width: 100%;
}
#gold_container1 {
  top: 0;
  width: 5vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#gold_container2 {
  top: 0;
  width: 5vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#gold_container3 {
  top: 0;
  width: 5vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#diamond_container1 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#diamond_container2 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#diamond_container3 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#coal_container1 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#coal_container2 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#coal_container3 {
  top: 0;
  width: 6vw;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
#game_ui {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#minecart_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 30vw;
  grid-column: 3/3;
}
#minecart_container img {
  width: 100%;
}
#stopwatch_container {
  width: 7vw;
  grid-column: 2/3;
  grid-row: 1;
  transform: rotate(332deg);
}
#stopwatch_container img {
  width: 100%;
}

#dollarsign_container {
  width: 5vw;
  grid-column: 1/3;
  grid-row: 1;
}

#point_count {
  grid-row: 1;
  text-align: right;
  font-size: 8vw;
  color: aliceblue;
  position: absolute;
  translate: 5vw;
  filter: drop-shadow(0 0 9px green);
}

#dollarsign_container img {
  width: 100%;
}
.hidden {
  display: none;
}

.hidden_splash {
  opacity: 0;
}
.splash {
  position: absolute;
}

.active_heart {
  filter: drop-shadow(0 0 6px yellow);
}
.broken_heart {
  filter: grayscale(85%) blur(0.5px);
}
